body{
    background-image: url(../images/THE%20one%20and%20only%20background.jpg);
    background-size: 100%;
    background-repeat: no-repeat
}
#content{
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    
}
.form-style{
    font-family: arial;
    width: 500px;
    padding: 30px;
    background: white;
    margin: 50px;
}
.form-style h1{
    background: gray;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="password"]
{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}